/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  position: relative;
  height: fit-content;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1;
  background: linear-gradient(to right bottom, #181a36, #22244b);
  color: #d6d6e1;
  overflow-x: hidden;
}

/***********scroll bar **********/
:root {
  scrollbar-width: thin;
  scrollbar-color: #6c6f92 #2c2f58;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #6c6f92;
  border-radius: 10px;
  border: 3px solid #2c2f58;
}

::-webkit-scrollbar-track {
  background-color: #2c2f58;
  border-radius: 10px;
}

/**********************************/

.nav__container {
  position: relative;
}

.search__input__container {
  display: flex;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 1rem;
}

#search__input {
  /* width: 30rem; */
  width: 0;
  height: 5rem;
  border-radius: 9px;
  border: none;
  outline: none;
  background-color: #eaebf0;
  color: #0a0a15;
  font-size: 1.8rem;
  transition: all 0.4s;
  visibility: hidden;
}

.showInput {
  visibility: visible !important;
  width: 30rem !important;
  padding: 1.6rem;
}

.search__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.4rem;
  height: 5rem;
  outline: none;
  border: none;
  padding: 0.4rem;
  cursor: pointer;
  border-radius: 999px;
  background-color: #c1c2d3;
  transition: background-color 0.3s;
}

.search__btn:hover {
  background-color: #acadc4;
}

.search__icon {
  width: 2.4rem;
  height: 2.4rem;
  stroke-width: 1.8px;
}

.results {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80rem;
  height: 70vh;
  background-color: rgba(69, 71, 122, 0.9);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  border-radius: 11px;
  overflow-y: auto;
}

.results__list {
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
  list-style: none;
  padding: 2.4rem;
}

.result {
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: #2c2f58;
  padding: 1.6rem;
  border-radius: 10px;
  transition: all 0.3s;
  cursor: pointer;
}

.result:hover {
  background-color: #3a3d6f;
  transform: translateY(-2px);
}

.list__image {
  width: 10rem;
  max-height: 15rem;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.list__descrption {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.list__title {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}

.descrption {
  display: flex;
  gap: 1rem;
  font-size: 1.4rem;
  color: #a9a9c9;
}

.descrption span {
  background-color: #45477a;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  font-size: 1.2rem;
}

.descrption:last-child {
  color: #e4e4e4;
  font-size: 1.4rem;
}

.hidden {
  display: none;
  visibility: hidden;
}

.nav__links--container {
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.home__link:link,
.home__link:visited {
  display: inline-block;
  color: #eaebf0;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  padding: 1.6rem 3.2rem;
  border-radius: 999px;
  background-color: #6e7097;
  transition: all 0.3s;
}

.home__link:hover,
.home__link:active {
  background-color: #45477a;
}

.popular__collaction--section {
  margin-bottom: 30vh;
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popular__collaction--section:last-child {
  margin-bottom: 10rem;
}

.slider__container {
  position: relative;
  width: auto;
}

.heading__1 {
  margin-top: 20vh;
  font-size: 4.4rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 14vh;
  color: #bac8ff;

  /* color: #eaebf0; */
}

.slider__collaction--container {
  display: flex;
  flex-direction: row;
  gap: 2.4rem;
  width: 126rem;
  overflow: hidden;
}

.btn__go {
  position: absolute;
  top: 50%;
  border: none;
  outline: none;
  padding: 1.4rem 0.8rem;
  background: none;
  border: 2px solid #acadc4;
  border-radius: 4px;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  transition: all 0.3s;
  cursor: pointer;
  z-index: 1;
}

.btn__hidden {
  opacity: 0;
}

.btn__go:hover {
  border: 2px solid #9899b5;
}

.btn__go:hover .icon__arrow {
  color: #9899b5;
  filter: drop-shadow(0 0 10px #0a0a15);
}

.right {
  right: 0;
  transform: translate(50%, -50%);
}

.left {
  left: 0;
  transform: translate(-50%, -50%);
}

.icon__arrow {
  width: 2.4rem;
  height: 2.4rem;
  color: #d6d6e1;
  stroke-width: 4px;
  transition: all 0.3s;
}

.collaction__element.slider__element {
  height: 26rem;
  width: 19rem;
  flex-shrink: 0;
  transition: all 1s;
}

.load__spinner--container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}
.load__spinner {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  background-color: #6e7097;
  animation: spinner 0.9s ease infinite alternate;
}

.load__spinner:nth-child(2) {
  animation-delay: 0.3s;
}
.load__spinner:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes spinner {
  to {
    opacity: 0.2;
    transform: translateY(-2rem);
  }
}

/*********************************** page 2 ******************************/

.main__container {
  width: auto;
  padding: 2rem;
  height: auto;
  padding-top: 10rem;
}

.movie__info--container {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: auto auto;
  column-gap: 4.8rem;
  row-gap: 2.4rem;
}

.poster__container {
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: #30336b;
  border-radius: 11px;
  align-self: start;
  justify-self: center;
}

.img__container {
  /* max-width: 30rem;
  min-height: 40rem;
  max-height: 50rem; */
  max-width: 30rem;
  min-height: 40rem;
  max-height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.img__container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-top-right-radius: 11px;
  border-top-left-radius: 11px;
  transition: transform 0.3s ease-in-out;
}

.poster__container img:hover {
  transform: scale(1.05);
}

.poster__footer {
  width: 100%;
  height: 4.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add__bookmark {
  position: relative;
  width: 50%;
  height: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
  color: inherit;
  border-bottom-left-radius: 11px;
  transition: all 0.4s;
}

.add__bookmark:hover {
  background-color: #262956;
  transform: scale(1.05);
}

.bookmark__icon {
  width: 2.4rem;
  height: 2.4rem;
}

.play__btn:visited,
.play__btn:link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  width: 50%;
  height: 100%;
  border-bottom-right-radius: 11px;
  transition: all 0.3s;
}

.play__btn:hover,
.play__btn:active {
  background-color: #262956;
  transform: scale(1.05);
}
.play__icon {
  display: inline-block;
  width: 2.6rem;
  height: 2.6rem;
}

.play__text {
  font-size: 1.4rem;
}

.add__bookmark,
.play__btn {
  flex: 1;
}

.movie__details--container {
  min-width: 30rem;
  max-width: 40rem;
}

.lists {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  max-width: 100%;
}

.list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.2rem;
}

.heading {
  margin-bottom: 0.8rem;
  gap: 3.2rem;
}

.movie__title {
  font-size: 3.6rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.tag {
  display: inline-block;
  padding: 0.6rem;
  font-size: 1.8rem;
  border-radius: 9px;
  font-weight: 500;
}

.status {
  background-color: #2f9e44;
  color: #eaf5ec;
}

.tag-color-blue {
  background-color: #45477a;
}

.text {
  font-size: 2rem;
  color: inherit;
  line-height: 1.5;
}

.rate {
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.rate__container {
  display: flex;
  align-items: center;
}

.icon__star {
  width: 2.2rem;
  height: 2.2rem;
  fill: rgb(245, 197, 24);
  margin-right: 0.6rem;
}

.rate__ratio {
  font-size: 1.8rem;
  font-weight: 500;
  margin-right: 1.8rem;
}

.rate__ratio:last-child {
  margin-right: 0;
}

.logo__img {
  width: 9.2rem;
  height: 2.4rem;
  object-fit: contain;
}

.rate__num {
  font-size: 1.6rem;
  font-weight: 300;
  opacity: 0.7;
}

.rotten {
  background-color: #c92a2a;
}

.star {
  background-color: #ac8a11;
  color: #fef9e8;
}

.overview__container {
  padding: 2.2rem;
  grid-row: 1 / -1;
  grid-column: 3 / 4;
}

.overview__text {
  font-size: 1.8rem;
  line-height: 1.9;
  margin-bottom: 4.8rem;
}

.headline {
  font-size: 2.8rem;
  display: block;
  font-weight: 600;
  margin-bottom: 1.4rem;
  letter-spacing: 0.5px;
}

.margin__mid {
  margin-bottom: 2.4rem;
}

.image__frames__container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  margin-top: 6.8rem;
}

.imgae-frame__link {
  cursor: pointer;
}

.image__frames {
  width: 11rem;
  height: 11rem;
  object-fit: cover;
  transition: all 0.3s;
}

.image__frames:hover {
  transform: scale(1.05);
}

/* .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.336);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  z-index: 1;
}

.window {
  position: absolute;
  width: 75vw;
  height: 80vh;
  border-radius: 11px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 2;
  background-color: #45477a;
} */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.window {
  position: fixed;
  width: 80vw;
  max-width: 120rem;
  height: 80vh;
  border-radius: 11px;
  top: 50%;
  left: 50%;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 4;
  background-color: #45477a;
  opacity: 0;
  visibility: hidden;
  transform: translate(-50%, -45%);
  transition: all 0.3s ease-in-out;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

.window.active {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%);
}

.video-container {
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 8px;
  overflow: hidden;
}

.video-container iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 8px;
}
.close__btn {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 4.8rem;
  height: 3.2rem;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  z-index: 5;
}

.close__icon {
  height: 100%;
  width: 100%;
  color: #d6d6e1;
}

.nav {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 7.2rem; */
  width: 100vw;
  background-color: #30336b; /* لون الخلفية */
  padding: 1.2rem 2.4rem; /* زيادة التباعد الجانبي */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* إضافة ظل */
  border-bottom-left-radius: 10px; /* إضافة زوايا */
  border-bottom-right-radius: 10px; /* إضافة زوايا */
}

#nav__input {
  position: static;
  transform: translate(0, 0);
  display: flex;
}

nav .nav__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9.2rem;
  height: 4.8rem;
  flex: 0;
  position: static;
  border-radius: 8px;
  padding: 0.8rem 2.4rem;
}

nav .bookmark__icon {
  fill: #f1f1f1;
}

.nav__results {
  top: 100%;
  left: 0;
  transform: translate(0, 0);
  height: 85vh;
  z-index: 2;
}

.series__container {
  grid-column: 1 /3;
  grid-row: 2/ 3;
  padding-left: 2.4rem;
  padding-bottom: 3.2rem;
}

.heading__2 {
  font-size: 2.8rem;
  margin-bottom: 2.4rem;
  font-weight: 600;
  color: #c1c2d3;
  letter-spacing: 0.5px;
}

.collaction {
  display: flex;
  flex-wrap: wrap;
  gap: 2.4rem;
  font-size: 2rem;
  color: #bbbccd;
}

.collaction__element {
  position: relative;
  display: flex;
  flex-direction: column;
  /* background-image: linear-gradient(to bottom, #1a1d293d, #11152685),
    url('https://image.tmdb.org/t/p/original/2uNW4WbgBXL25BAbXGLnLqX71Sw.jpg'); */
  background-size: contain;
  background-position: center;
  height: 22rem;
  width: 17rem;
  cursor: pointer;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: all 0.3s;
}

.collaction__element:hover {
  transform: scale(1.05);
}

.collaction__top {
  height: 60%;
  width: 100%;
}

.collaction--imdb__rating {
  position: absolute;
  top: 3%;
  right: 2%;
  display: flex;
  align-items: center;
  background-color: #181a36;
  padding: 0.6rem;
  border-radius: 4px;
}

.collaction--imdb__rating span {
  font-size: 1.6rem;
}

.collaction--imdb__rating .icon__star {
  height: 1.8rem;
  margin: 0;
}

.collaction__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40%;
  width: 100%;
  padding: 0 0.4rem;
  opacity: 1;
  justify-content: center;
  color: #d6d6e1;
}

.collaction__head {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
  text-shadow: 0 0 10px #0a0a15;
}

.collaction__year {
  font-size: 1.6rem;
  margin-bottom: 0.4rem;
  text-shadow: 0 0 10px #0a0a15;
}

.tag--small {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 0.4rem;
}

/****************************************************************/

.bookmarks {
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  background-color: #30336b;
  width: 40rem;
  min-height: 5rem;
  max-height: 40rem;
  overflow-y: auto;
  padding: 2rem;
  transition: all 0.5s 0.2s;
  position: absolute;
  right: 1rem;
  top: 7rem;
  box-shadow: 0 0.8rem 5rem 2rem #6155511a;
}

.bookmarks__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

/* .bookmarks__field {
  cursor: pointer;
  align-items: center;
  height: 100%;
  padding: 0 4rem;
  transition: all 0.3s;
  display: flex;
} */

/* .bookmarks__field:hover {
  background-color: #f2efee;
} */

.bookmarks:hover,
.nav__btn--bookmarks:hover + .bookmarks {
  visibility: visible;
  opacity: 1;
}

.active {
  fill: #f1f1f1;
}

.actor__link:link,
.actor__link:visited {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #364fc7;
  transition: all 0.3s;
}

.actor__link:hover,
.actor__link:active {
  text-decoration: underline;
  color: #2b3f9f;
  transform: scale(0.99);
}

.recommendations__section {
  margin-top: 6.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2.4rem 1.6rem;
  background-color: #181a36;
  border-radius: 11px;
  margin-bottom: 2.4rem;
}

.recommendations__container {
  display: flex;
  gap: 3.2rem;
  flex-wrap: wrap;
}

.recommendations__container .collaction__element {
  width: 18rem;
  height: 25rem;
}

@media (max-width: 4000px) and (min-width: 2000px) {
  html {
    font-size: 90%;
  }
  /* .slider__collaction--container {
    width: 145rem;
  } */
  collaction__element.slider__element {
    width: 28rem;
    height: 36rem;
  }
  .recommendations__container {
    gap: 4.8rem;
  }
}

@media (max-width: 2000px) and (min-width: 1800px) {
  html {
    font-size: 87%;
  }
  .slider__collaction--container {
    width: 145rem;
  }

  .collaction__element.slider__element {
    width: 22rem;
    height: 30rem;
  }
  .recommendations__container {
    gap: 4.8rem;
  }
  .recommendations__container .collaction__element {
    width: 20rem;
    height: 27rem;
  }
}

@media (max-width: 2000px) and (min-width: 1600px) {
  html {
    font-size: 76%;
  }
}

@media (max-width: 1600px) and (min-width: 1400px) {
  html {
    font-size: 65%;
  }
}

@media (max-width: 1300px) and (min-width: 1200px) {
  html {
    font-size: 59%;
  }
}

@media (max-width: 1200px) and (min-width: 1100px) {
  html {
    font-size: 57%;
  }
  .collaction__element.slider__element {
    width: 21rem;
  }
  .slider__collaction--container {
    gap: 3.4rem;
  }
}

@media (max-width: 1100px) and (min-width: 1000px) {
  html {
    font-size: 52.5%;
  }

  .slider__collaction--container {
    width: auto;
  }

  .slider__container {
    width: 80%;
  }

  .collaction__element.slider__element {
    width: 23rem;
  }

  .slider__collaction--container {
    gap: 3.4rem;
  }
}

@media (max-width: 1000px) and (min-width: 800px) {
  html {
    font-size: 49%;
  }
}
@media (max-width: 900px) {
  html {
    font-size: 49%;
  }

  .movie__info--container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
  }

  .poster__container {
    grid-column: 1/2;
  }

  .movie__details--container {
    grid-column: 2/3;
  }

  .overview__container {
    grid-row: 2/3;
    grid-column: 1/3;
  }

  .series__container {
    grid-row: 3/4;
    grid-column: 1/3;
  }
  .popular__collaction--section {
    align-items: flex-start;
  }
  .heading__1 {
    margin-bottom: 10vh;
    margin-top: 12vh;
  }

  .popular__collaction--section {
    margin-bottom: 18vh;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 42%;
  }
  .popular__collaction--section {
    margin-bottom: 15vh;
  }

  .heading__1 {
    margin-top: 13vh;
    margin-bottom: 11vh;
  }
  .showInput {
    width: 20rem !important;
  }
  .nav__links--container {
    gap: 2.4rem;
  }
  .collaction__element.slider__element {
    width: 20rem;
    height: 28rem;
  }
  .popular__collaction--section {
    align-items: flex-start;
  }
  .home__link:link,
  .home__link:visited {
    padding: 1.6rem 2.4rem;
  }

  .nav__links--container {
    justify-content: space-evenly;
  }
  .heading__1 {
    letter-spacing: 0.3px;
  }

  .heading__1 {
    margin-bottom: 11vh;
  }

  .popular__collaction--section {
    margin-bottom: 14vh;
  }

  .recommendations__container {
    justify-content: center;
  }

  .image__frames__container {
    justify-content: center;
  }

  /* .slider__collaction--container {
    width: auto;
  }
  .slider__container {
    width: 100%;
  }

  .collaction__element.slider__element {
    width: 11rem;
    height: 14rem;
  }

  .slider__collaction--container {
    gap: 1rem;
  }


  .collaction__head {
    font-size: 1.6rem !important;
  }

  .collaction__year {
    font-size: 1.4rem !important;
  } */
}

@media (max-width: 450px) {
  html {
    font-size: 39%;
  }
  .showInput {
    width: 20rem !important;
  }
  .nav__links--container {
    gap: 2.4rem;
  }
  .collaction__element.slider__element {
    width: 20rem;
    height: 28rem;
  }
  .popular__collaction--section {
    align-items: flex-start;
  }
  .home__link:link,
  .home__link:visited {
    padding: 1.6rem 2.4rem;
  }

  .nav__links--container {
    justify-content: space-evenly;
  }
  .heading__1 {
    letter-spacing: 0.3px;
  }
}

@media (max-width: 400px) {
  .movie__info--container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
  }

  .poster__container {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .movie__details--container {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .overview__container {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .series__container {
    grid-column: 1/2;
    grid-row: 4/5;
  }

  .showInput {
    width: 13rem !important;
  }

  .heading__1 {
    margin-bottom: 10vh;
  }

  .popular__collaction--section {
    margin-bottom: 13vh;
  }

  .nav__links--container {
    gap: 0;
    justify-content: space-between;
  }
  .movie__details--container {
    justify-self: center;
    width: 100%;
  }
  .image__frames__container {
    gap: 3.4rem;
  }
  .movie__info--container {
    gap: 4.4rem;
  }
  .home__link {
    padding: 1.4rem 1.8rem;
  }
  .search__input__container {
    padding: 0.8rem;
  }

  .img__container {
    max-width: 33rem;
  }
}
